body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff7fa;
    color: #5a4a4a;
    line-height: 1.7;
}

h1, h2, h3{
    font-weight: 500;
    letter-spacing: 0.5px;
}

header {
padding: 1px;    
background: #ffffff;
border-bottom: 2px solid #f7cfe2;
display: flex;
justify-content: space-between;
align-items: center;
}

.nav-links {
    list-style:none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #5a4a4a;
    font-size: 15px;
    transition: 0.3s ease;
    padding-bottom: 3px;
}

.nav-links a:hover {
    background-color: #fff7fa;
    color: #e8bcd0;
    border-radius: 8px;
    padding: 5px 10px;
}

.section {
    padding: 0;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.skill-card {
    background: #ffffff;
    padding: 1;
    border-radius: 15px;
    box-shadow: 12px rgba(0, 0, 0, .08);
    transition: 0.3s ease;
}

.skill-card:hover {
    transform: translateY(-5px);
    background: #f7cfe2;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.project-card {
    background: #ffffff;
    width: 300px;
    border-radius: 15px;
    box-shadow: 12px rgba(0, 0, 0, .08);
    transition: .5 ease;
    padding: 15px;
}

.project-card:hover {
    transform: translateY(-8px);
    box-shadow: 12px rgba(0, 0, 0, .08);
}

.project-card img {
    width: 100%;
    border-radius: 12px;
}

footer {
    background:#ffffff;
    text-align: center;
    border-top: 2px solid #f7cfe2;
    padding: auto;
    margin-top: 4rem;
}

footer a {
    color: #e8bcd0;
    font-weight: bold;
    transition: opacity 0.3 ease-in-out;
}

footer a:hover {
    opacity: 0.7;
}

@media (max-width:700px) {
    header {
        flex-direction: column;
    }
    .projects-container {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
}


