* {box-sizing: border-box;}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    margin: 40px;
    padding: auto;
}

.card {
    max-width: 600px;
    margin: 0 auto;
    padding: 32px;
    background-color: bisque;
    border: 4px solid brown;
}
.card h1 {
    color: brown;
    font-size: large;
    font-weight: bolder;
    margin: 14px;
}
.card p {
    color: darkolivegreen;
    font-size: medium;
    margin: 14px;
}